@require "../"

sm-init()

// Buttons
.button
  sm-button()
.button.flat
  sm-button-flat()
.button.large
  sm-button-large()
.button.disc
  sm-button-disc()

// Cards
.card
  sm-card($title-in-image: false, $title-tag: ".card-title", $img-tag: ".card-img")
.card.title-in-image
  sm-card($title-tag: ".card-title", $img-tag: ".card-img")

// Chips
.chip
  sm-chip($img-tag: ".chip-img")

// Collection
.collection
  sm-collection($title-tag: "collection-header", $img-tag: "collection-img", $content-tag: "collection-content")

// Flow-text
.flow-text
  sm-flow-text()

// Footer
.footer
  sm-footer($copyright-tag: ".footer-copyright")

// Horizontal list
.horizontal-list
  sm-horizontal-list()

// Navbar
.navbar
  sm-navbar($title-tag: ".navbar-title")

// Container
.container
  sm-container()

// Columns
for $l in (1..10)
  for $m in (1..$l)
    for $s in (1..$m)
      $class = "columns-" + $l + "-" + $m + "-" + $s
      {selector($class)}
        sm-columns($l, $m, $s)

// Forms
.input
  sm-input()