@require "../"

sm-init()

p
  sm-flow-text()

ol > li
  sm-flow-text()

header.main
  & nav
    sm-navbar()

body
  min-height: 100vh

main
  min-height: 100vh
  position: relative
  sm-container()

  & > section
    & > .headline-wrapper
      position: absolute
      top: 0
      right: 0
      background-color: darken($primary-color, 20%)
      height: 100%
      width: 1rem
      padding-top: 5rem
      padding-left: 5rem

      & > h1
        margin: 0
        float: left
        color: $light-text-color
        transform: rotate(90deg)
        transform-origin: top left 0
        white-space: nowrap

    & > h2
      color: $primary-color

  pre
    &:before
      visibility: hidden
    &:after
      visibility: hidden

  .codes
    sm-columns(2, 1, 1)

  section
    sm-view()
    padding-top: 50px

  section#chips
    & .chip
      sm-chip()

  section#flow-text
    & p
      sm-flow-text()

  section#buttons
    & button
      margin 1rem
      &.default
        sm-button()
      &.flat
        sm-button-flat()
      &.large
        sm-button-large()
      &.disc
        sm-button-disc()

  section#cards
    & .cards-list
      sm-columns(2)
    & article
      &.default
        sm-card()
      &.title-below-image
        sm-card($title-in-image: false)
      &.green
        sm-card($text-protection: darkgreen)
      &.light
        sm-card($text-protection: white, $title-color: black)

  section#collection
    & ul
      sm-collection($img-circle: true)

  section#horizontal-list
    & ul
      sm-horizontal-list('—')

  section#navbar
    & header
      & nav
        sm-navbar($fixed: false, $align-right: false)

footer
  sm-footer()
