body {
  margin: 0;
}
button {
  margin: 1rem;
}
button.default {
  color: #fff;
  background-color: #ff5622;
  font-size: 1.3rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
button.default:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
button.default:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
button.default:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
button.flat {
  color: #202020;
  background-color: transparent;
  font-size: 1.3rem;
  box-shadow: none !important;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
button.flat:hover {
  background-color: transparent;
  box-shadow: 0 -0.5px 3px 0 rgba(0,0,0,0.115), 0 -3px 1px 0 rgba(0,0,0,0.115);
}
button.flat:disabled {
  background-color: transparent;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
button.flat:disabled:hover {
  background-color: transparent;
  color: #9f9f9f;
}
button.large {
  color: #fff;
  background-color: #ff5622;
  font-size: 1.6rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 54px;
  line-height: 54px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
button.large:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
button.large:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
button.large:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
button.disc {
  color: #fff;
  background-color: #ff5622;
  font-size: 1.3rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  width: 37px;
  height: 37px;
  line-height: 37px;
  border-radius: 50%;
  padding: 0;
}
button.disc:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
button.disc:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
button.disc:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
footer {
  position: relative;
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #3f51b5;
  padding: 8px;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
}
footer > * {
  margin: 0;
}
footer ul {
  list-style: none;
}
footer ul > li {
  display: inline-block;
}
footer ul > li:before {
  content: '—';
  vertical-align: top;
  margin: 0 10px 0 8px;
}
footer ul > li:first-child:before {
  display: none;
}
