@require "../styl"

main
  padding 0.5rem

  & button
    margin 1rem
    &.default
      sm-button()
    &.flat
      sm-button-flat()
    &.large
      sm-button-large()
    &.disc
      sm-button-disc()

  section.cards-section
    & article
      &.default
        sm-card()
      &.title-below-image
        sm-card($title-in-image: false)

footer
  sm-navbar()

  & ul
    sm-horizontal-list('—')
