@require "../styl"

sm-init()

main
  sm-container()

  section.chip-section
    & .chip
      sm-chip()

  section.flow-text-section
    & p
      sm-flow-text()

  section.buttons-section
    & button
      margin 1rem
      &.default
        sm-button()
      &.flat
        sm-button-flat()
      &.large
        sm-button-large()
      &.disc
        sm-button-disc()

  section.cards-section
    & .cards-list
      sm-columns(2)
    & article
      &.default
        sm-card()
      &.title-below-image
        sm-card($title-in-image: false)
      &.green
        sm-card($text-protection: darkgreen)
      &.light
        sm-card($text-protection: white, $title-color: black)

  section.collection-section
    & ul
      sm-collection($img-circle: true)

  section.horizontal-list-section
    & ul
      sm-horizontal-list('—')

footer
  sm-footer()
