section#chips
  .headline-wrapper
    h1 Chips
  .chip
    img(src="assets/leaves.jpg")
    | A chip
    i.material-icons close
  .chip Another chip
  .codes
    .code
      h4 HTML
      pre: code.language-markup
        = '<div class="chip">\n'
        = '  <img src="assets/leaves.jpg">\n'
        = '  A chip\n'
        = '</div>\n'
        = '<div class="chip">\n'
        = '  Another chip\n'
        = '</div>'
    .code
      h4 Stylus
      pre: code.language-stylus.
        .chip
          sm-chip()
    .code
      h4 Class based
      pre: code.language-markup
        = '<div class="chip">\n'
        = '  <img class="chip-img" src="assets/leaves.jpg">\n'
        = '  A chip\n'
        = '</div>\n'
        = '<div class="chip">\n'
        = '  Another chip\n'
        = '</div>'
    .code
      h4 Tag based
      p Not implemented
  h4 With all options
    pre: code.language-stylus.
      .chip
        sm-chip($height: 32px, $fontsize: $height / 2.5, $color: rgba(0,0,0,.6), $bg-color: #e4e4e4,
            $img-tag: "img", $icon-tag: "i.material-icons"
          )
