section#colors
  .headline-wrapper
    h1 Colors
  p.
    Colors can be set for each component individually. Default colors are taken from these
    variables:

  pre: code.language-stylus.
    $primary-color ?= #3F51B5
    $background-color ?= #FFFFFF
    $accent-color ?= #FF5622
    $light-text-color ?= #FFFFFF
    $primary-text-color ?= #202020
