section#media-queries
  .headline-wrapper
    h1 Media queries
  p.
    Stylus Material supports breakpoints for 3 screen sizes: small, medium and large. Break points
    can be modified by setting their maximum sizes:
  pre: code.language-stylus.
    $small-screen = 600px
    $medium-screen = 992px
    $large-screen = 1200px
  p.
    Stylus Material offers multiple variables to use in media queries based on these two
    breakpoints: #[code $medium-and-up], #[code $large-and-up], #[code $small-and-down],
    #[code $medium-and-down], and #[code $medium-only].
