section#navbar
  .headline-wrapper
    h1 Navbar
  nav
    h1 Title
    a Entry 1
    a Entry 2

  .codes
    .code
      h4 HTML
      pre: code.language-markup
        = '<nav>\n'
        = '  <h1>Title</h1>\n'
        = '  <a>Entry 1</a>\n'
        = '  <a>Entry 2</a>\n'
        = '</nav>'
    .code
      h4 Stylus
      pre: code.language-stylus.
        nav
          sm-navbar()
    .code
      h4 Class based
      pre: code.language-markup
        = '<nav class="navbar">\n'
        = '  <h1 class="navbar-title">Title</h1>\n'
        = '  <a>Entry 1</a>\n'
        = '  <a>Entry 2</a>\n'
        = '</nav>'
    .code
      h4 Tag based
      pre: code.language-markup
        = '<nav>\n'
        = '  <h1>Title</h1>\n'
        = '  <a>Entry 1</a>\n'
        = '  <a>Entry 2</a>\n'
        = '</nav>'
  h4 With all options
    pre: code.language-stylus.
      nav
        sm-navbar($bgcolor: $primary-color, $font-color: $light-text-color, $padding: 8px,
            $use-container: true, $title-tag: "h1", $align-right: true, $fixed: true, $title-size = 1.25 rem
          )
