body {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
}
html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #202020;
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 993px) {
  html {
    font-size: 15px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.1;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
}
h1 {
  font-size: 3.4rem;
  line-height: 110%;
  margin: 1.7rem 0 1.36rem 0;
}
h2 {
  font-size: 2.9rem;
  line-height: 110%;
  margin: 1.45rem 0 1.16rem 0;
}
h3 {
  font-size: 2.4rem;
  line-height: 110%;
  margin: 1.2rem 0 0.96rem 0;
}
h4 {
  font-size: 2rem;
  line-height: 110%;
  margin: 1rem 0 0.8rem 0;
}
h5 {
  font-size: 1.5rem;
  line-height: 110%;
  margin: 0.75rem 0 0.6rem 0;
}
h6 {
  font-size: 1rem;
  line-height: 110%;
  margin: 0.5rem 0 0.4rem 0;
}
p {
  font-weight: 300;
}
@media only screen and (min-width: 360px) {
  p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 390px) {
  p {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 420px) {
  p {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 450px) {
  p {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 480px) {
  p {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 510px) {
  p {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  p {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 570px) {
  p {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 600px) {
  p {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 630px) {
  p {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 660px) {
  p {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 690px) {
  p {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 720px) {
  p {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 750px) {
  p {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 780px) {
  p {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 810px) {
  p {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 840px) {
  p {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 870px) {
  p {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 900px) {
  p {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 930px) {
  p {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 960px) {
  p {
    font-size: 1.68rem;
  }
}
@media only screen and (max-width: 360px) {
  p {
    font-size: 1.2rem;
  }
}
ol > li {
  font-weight: 300;
}
@media only screen and (min-width: 360px) {
  ol > li {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 390px) {
  ol > li {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 420px) {
  ol > li {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 450px) {
  ol > li {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 480px) {
  ol > li {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 510px) {
  ol > li {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  ol > li {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 570px) {
  ol > li {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 600px) {
  ol > li {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 630px) {
  ol > li {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 660px) {
  ol > li {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 690px) {
  ol > li {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 720px) {
  ol > li {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 750px) {
  ol > li {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 780px) {
  ol > li {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 810px) {
  ol > li {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 840px) {
  ol > li {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 870px) {
  ol > li {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 900px) {
  ol > li {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 930px) {
  ol > li {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 960px) {
  ol > li {
    font-size: 1.68rem;
  }
}
@media only screen and (max-width: 360px) {
  ol > li {
    font-size: 1.2rem;
  }
}
header.main nav {
  *zoom: 1;
  position: relative;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  padding-left: 5%;
  padding-right: 5%;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
}
header.main nav:before,
header.main nav:after {
  content: " ";
  display: table;
}
header.main nav:after {
  clear: both;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  header.main nav {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media only screen and (min-width: 993px) {
  header.main nav {
    padding-left: 15%;
    padding-right: 15%;
  }
}
header.main nav > * {
  display: inline-table;
  color: #fff;
  padding: 8px;
  vertical-align: middle;
}
header.main nav > a:hover {
  background-color: #4d5fc1;
}
header.main nav > a:active {
  background-color: #6171c8;
}
header.main nav > h1 {
  display: inline-table;
  margin: 0;
  font-size: 1.25rem;
  float: left;
}
body {
  min-height: 100vh;
}
main {
  min-height: 100vh;
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  main {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media only screen and (min-width: 993px) {
  main {
    padding-left: 15%;
    padding-right: 15%;
  }
}
main > section > .headline-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #324191;
  height: 100%;
  width: 1rem;
  padding-top: 5rem;
  padding-left: 5rem;
}
main > section > .headline-wrapper > h1 {
  margin: 0;
  float: left;
  color: #fff;
  transform: rotate(90deg);
  transform-origin: top left 0;
  white-space: nowrap;
}
main > section > h2 {
  color: #3f51b5;
}
main pre code {
  font-size: 1rem;
}
main pre:before {
  visibility: hidden;
}
main pre:after {
  visibility: hidden;
}
main .codes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .codes > * {
  margin-top: 0.5rem;
}
@media only screen and (max-width: 600px) {
  main .codes > * {
    width: 99%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  main .codes > * {
    width: 99%;
  }
}
@media only screen and (min-width: 993px) {
  main .codes > * {
    width: 49%;
  }
}
main section {
  display: none;
  padding-top: 50px;
}
main section:last-of-type {
  display: block;
}
main section:target {
  display: block;
}
main section:target ~ * {
  display: none;
}
main section#chips .chip {
  display: inline-block;
  height: 32px;
  font-size: 12.8px;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  background-color: #e4e4e4;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
}
main section#chips .chip img {
  float: left;
  margin: 0 8px 0 -12px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  padding: 0;
  vertical-align: middle;
}
main section#chips .chip i.material-icons {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}
main section#flow-text p {
  font-weight: 300;
}
@media only screen and (min-width: 360px) {
  main section#flow-text p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 390px) {
  main section#flow-text p {
    font-size: 1.224rem;
  }
}
@media only screen and (min-width: 420px) {
  main section#flow-text p {
    font-size: 1.248rem;
  }
}
@media only screen and (min-width: 450px) {
  main section#flow-text p {
    font-size: 1.272rem;
  }
}
@media only screen and (min-width: 480px) {
  main section#flow-text p {
    font-size: 1.296rem;
  }
}
@media only screen and (min-width: 510px) {
  main section#flow-text p {
    font-size: 1.32rem;
  }
}
@media only screen and (min-width: 540px) {
  main section#flow-text p {
    font-size: 1.344rem;
  }
}
@media only screen and (min-width: 570px) {
  main section#flow-text p {
    font-size: 1.368rem;
  }
}
@media only screen and (min-width: 600px) {
  main section#flow-text p {
    font-size: 1.392rem;
  }
}
@media only screen and (min-width: 630px) {
  main section#flow-text p {
    font-size: 1.416rem;
  }
}
@media only screen and (min-width: 660px) {
  main section#flow-text p {
    font-size: 1.44rem;
  }
}
@media only screen and (min-width: 690px) {
  main section#flow-text p {
    font-size: 1.464rem;
  }
}
@media only screen and (min-width: 720px) {
  main section#flow-text p {
    font-size: 1.488rem;
  }
}
@media only screen and (min-width: 750px) {
  main section#flow-text p {
    font-size: 1.512rem;
  }
}
@media only screen and (min-width: 780px) {
  main section#flow-text p {
    font-size: 1.536rem;
  }
}
@media only screen and (min-width: 810px) {
  main section#flow-text p {
    font-size: 1.56rem;
  }
}
@media only screen and (min-width: 840px) {
  main section#flow-text p {
    font-size: 1.584rem;
  }
}
@media only screen and (min-width: 870px) {
  main section#flow-text p {
    font-size: 1.608rem;
  }
}
@media only screen and (min-width: 900px) {
  main section#flow-text p {
    font-size: 1.632rem;
  }
}
@media only screen and (min-width: 930px) {
  main section#flow-text p {
    font-size: 1.656rem;
  }
}
@media only screen and (min-width: 960px) {
  main section#flow-text p {
    font-size: 1.68rem;
  }
}
@media only screen and (max-width: 360px) {
  main section#flow-text p {
    font-size: 1.2rem;
  }
}
main section#buttons button {
  margin: 1rem;
}
main section#buttons button.default {
  color: #fff;
  background-color: #ff5622;
  font-size: 1.3rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
main section#buttons button.default:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
main section#buttons button.default:active {
  background-color: #ff4b14;
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.22), 0 9px 25px 0 rgba(0,0,0,0.16);
}
main section#buttons button.default:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
main section#buttons button.default:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
main section#buttons button.flat {
  color: #202020;
  background-color: transparent;
  font-size: 1.3rem;
  box-shadow: none !important;
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
main section#buttons button.flat:hover {
  background-color: transparent;
  box-shadow: none !important;
}
main section#buttons button.flat:active {
  background-color: #eee;
  box-shadow: none !important;
}
main section#buttons button.flat:disabled {
  background-color: transparent;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
main section#buttons button.flat:disabled:hover {
  background-color: transparent;
  color: #9f9f9f;
}
main section#buttons button.large {
  color: #fff;
  background-color: #ff5622;
  font-size: 1.6rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 54px;
  line-height: 54px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
}
main section#buttons button.large:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
main section#buttons button.large:active {
  background-color: #ff4b14;
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.22), 0 9px 25px 0 rgba(0,0,0,0.16);
}
main section#buttons button.large:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
main section#buttons button.large:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
main section#buttons button.disc {
  position: relative;
  color: #fff;
  background-color: #ff5622;
  font-size: 1.3rem;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  border: none;
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  outline: 0;
  text-align: center;
  letter-spacing: 0.5px;
  vertical-align: middle;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease-out;
  overflow: hidden;
  width: 37px;
  height: 37px;
  line-height: 37px;
  border-radius: 50%;
  padding: 0;
  vertical-align: middle;
}
main section#buttons button.disc:hover {
  background-color: #ff5e2d;
  box-shadow: 0 4.5px 9px 0 rgba(0,0,0,0.195), 0 5px 17px 0 rgba(0,0,0,0.145);
}
main section#buttons button.disc:active {
  background-color: #ff4b14;
  box-shadow: 0 7px 12px 0 rgba(0,0,0,0.22), 0 9px 25px 0 rgba(0,0,0,0.16);
}
main section#buttons button.disc:disabled {
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
main section#buttons button.disc:disabled:hover {
  background-color: #dfdfdf;
  color: #9f9f9f;
}
main section#cards article {
  position: relative;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  z-index: -1;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  overflow: hidden;
}
main section#cards article > * {
  padding-left: 20px;
  padding-right: 20px;
}
main section#cards article > h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  position: relative;
  top: -24px;
  margin-top: -12px;
  height: 0;
  z-index: -1;
}
main section#cards article > h1:after {
  content: '';
  position: absolute;
  bottom: -36px;
  left: 0;
  width: 100%;
  height: 96px;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.33) 66%, rgba(0,0,0,0.65) 100%);
}
main section#cards article > img {
  position: relative;
  width: 100%;
  display: block;
  padding: 0;
  border-radius: 2px 2px 0 0;
  z-index: -1;
}
main section#collections ul {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}
main section#collections ul > * {
  display: block;
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  transition: 0.25s;
  position: relative;
}
main section#collections ul > *:last-child {
  border-bottom: none;
}
main section#collections ul > *:active {
  background-color: #a6afe0;
  color: #3f51b5;
}
main section#collections ul > *:hover {
  color: #3f51b5;
  background-color: #c4caea;
}
main section#collections ul > * img {
  position: absolute;
  left: 20px;
  top: 5px;
  width: 34px;
  height: 34px;
}
main section#collections ul > * p {
  position: relative;
  padding-left: 41px;
  margin: 0;
  min-height: 24px;
}
main section#collections ul > h4 {
  padding: 30px 20px;
  margin: 0;
}
main section#collections ul > h4 ~ *:not(h4) {
  padding-left: 30px;
}
main section#collections ul > h4 ~ *:not(h4) > img {
  left: 30px;
}
main section#horizontal-list ul {
  list-style: none;
}
main section#horizontal-list ul > * {
  display: inline-block;
}
main section#horizontal-list ul > *:before {
  content: '—';
  vertical-align: top;
  margin: 0 10px 0 8px;
}
main section#horizontal-list ul > *:first-child:before {
  display: none;
}
main section#navbar nav {
  *zoom: 1;
  position: relative;
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16), 0 1px 9px 0 rgba(0,0,0,0.13);
  padding-left: 5%;
  padding-right: 5%;
}
main section#navbar nav:before,
main section#navbar nav:after {
  content: " ";
  display: table;
}
main section#navbar nav:after {
  clear: both;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  main section#navbar nav {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media only screen and (min-width: 993px) {
  main section#navbar nav {
    padding-left: 15%;
    padding-right: 15%;
  }
}
main section#navbar nav > * {
  display: inline-table;
  color: #fff;
  padding: 8px;
  vertical-align: middle;
}
main section#navbar nav > a:hover {
  background-color: #4d5fc1;
}
main section#navbar nav > a:active {
  background-color: #6171c8;
}
main section#navbar nav > h1 {
  display: inline-table;
  margin: 0;
  font-size: 1.25rem;
}
footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #3f51b5;
  color: #fff;
}
footer > * {
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 601px) and (max-width: 992px) {
  footer > * {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
}
@media only screen and (min-width: 993px) {
  footer > * {
    padding-left: 15%;
    padding-right: 15%;
  }
}
footer small {
  display: block;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255,255,255,0.8);
  font-weight: 300;
  background-color: rgba(51,51,51,0.2);
}
