section#collections
  .headline-wrapper
    h1 Collections
  ul
    li
      img(src="assets/leaves.jpg")
      p Entry 1
    li Entry 2
    li Entry 3
    h4 Collections
    li
      img(src="assets/leaves.jpg")
      p Entry 1
    li Entry 2
    li Entry 3
