@require "./variables.styl"
@require "./z"

// Mixin: Card
//
// Create a box for content. See example for defaults.
// If $title-in-image is true and $text-protection isn't false, a gradient with color
// $text-protection will be applied to the bottom $title-size * 3 pixels of the image.
// If the image isn't tall enough, $text-protection has to be disabled manually.
// Currently only one-line-titles are supported if the title is overlayed over the image.
//
// ex. sm-card($bgcolor: $background-color, $title-in-image: true, $text-protection: #000,
//        $title-size: 24px,
//        $title-color: ($title-in-image ? $light-text-color : $primary-text-color),
//        $top-margin: 0.5rem, $bottom-margin: 0.5rem, $padding: 20px,
//        $title-tag: h1, $img-tag: img
//     )
sm-card($bgcolor = $background-color, $title-in-image = true, $text-protection = #000,
    $title-size = 24px,
    $title-color = ($title-in-image ? $light-text-color : $primary-text-color),
    $top-margin = 0.5rem, $bottom-margin = 0.5rem, $padding = 20px,
    $title-tag = h1, $img-tag = img
    )
  position: relative
  margin: $top-margin 0 $bottom-margin 0
  background-color: $bgcolor
  transition: box-shadow .25s
  border-radius: 2px
  if $text-protection
    z-index: -1
  sm-z: 1
  overflow: hidden

  > *
    padding-left: $padding
    padding-right: $padding

  > {$title-tag}
    color: $title-color
    font-size: $title-size
    font-weight: 300
    if $title-in-image
      position: relative
      top: -($title-size)px
      margin-top: -($title-size/2)px
      height: 0

      if $text-protection
        z-index: -1
        &:after
          content: ''
          position: absolute
          bottom: -($title-size * 1.5)px
          left: 0
          width: 100%
          height: ($title-size * 3)px
          z-index: -1
          pointer-events: none
          background: linear-gradient(to bottom,
            rgba(0,0,0,0) 0%, alpha($text-protection,0.33) 66%, alpha($text-protection,0.65) 100%);

  > {$img-tag}
    position: relative
    width: 100%
    display: block
    padding: 0
    border-radius: 2px 2px 0 0
    z-index: -1
