@require "variables"
@require "clearfix"
@require "grid"
@require "z"

// Mixin: Navbar
//
// Create a full-width bar elevated to height 1 with sensible defaults (see example).
//
// ex. sm-navbar($bgcolor = $primary-color, $font-color = $light-text-color, $padding = 8px,
//           $use-container = true, $title-tag = "h1", $right-align = true
//         )
sm-navbar($bgcolor = $primary-color, $font-color = $light-text-color, $padding = 8px,
      $use-container = true, $title-tag = "h1", $right-align = true
    )
  sm-clearfix()
  position: relative
  color: $font-color
  background-color: $bgcolor
  sm-z(1)
  if $use-container
    sm-container()

  > *
    color: $font-color
    padding: $padding

  > a
    &:hover
      background-color: lighten($bgcolor, 10%)
    &:active
      background-color: lighten($bgcolor, 20%)

  if $title-tag
    > {selector($title-tag)}
      display: inline-table
      vertical-align: middle
      margin: 0
      font-size: 1.25rem

    if $right-align
      > *:not({selector($title-tag)})
        float: right
  else
    if $right-align
      > *
        float: right

