@require "variables"
@require "clearfix"
@require "grid"
@require "z"

// Mixin: Navbar
//
// Create a full-width bar elevated to height 1 with sensible defaults (see example).
//
// ex. sm-navbar($bgcolor: $primary-color, $font-color: $light-text-color, $padding: 8px,
//           $use-container: true, $title-tag: "h1", $align-right: true, $fixed: true, $title-size: 1.25 rem
//         )
sm-navbar($bgcolor = $primary-color, $font-color = $light-text-color, $padding = 8px,
      $use-container = true, $title-tag = "h1", $align-right = true, $fixed = true, $title-size = 1.25 rem
    )
  sm-clearfix()
  if $font-color
    color: $font-color
  if $bgcolor
    background-color: $bgcolor
  sm-z(1)
  if $use-container
    sm-container()

  if !$fixed
    position: relative

  if $fixed
    position: fixed
    z-index: 50
    top: 0
    width: 100%

    // Make width 100% work with padding
    box-sizing: border-box

  > *
    display: inline-table
    if $font-color
      color: $font-color
    padding: $padding
    vertical-align: middle

  > a
    &:hover
      if $bgcolor
        background-color: lighten($bgcolor, 10%)
    &:active
      if $bgcolor
        background-color: lighten($bgcolor, 20%)

  if $title-tag
    > {selector($title-tag)}
      display: inline-table
      margin: 0
      if $title-size
        font-size: $title-size
      if $align-right
        float: left

  if $align-right
    text-align: right