// Mixin: Circle
// Creates a circle from the element. $size has to be defined.
//
// ex. sm-circle(37px)
sm-circle($size)
  overflow: hidden
  width: $size
  height: $size
  line-height: $size
  border-radius: 50%
  padding: 0
  vertical-align: middle
