// Mixin: Text protection
//
// Adds a color gradient to the bottom of the element for text protection
//
// ex. sm-text-protection($height: 3rem, $color: #000, $bottom: 0, $z-index: false)

sm-text-protection($height = 3rem, $color = #000, $bottom = 0, $z-index = false)
  &:before
    content: ''
    position: absolute
    left: 0
    bottom: $bottom
    width: 100%
    height: $height
    pointer-events: none
    if $z-index
      z-index: $z-index
    background: linear-gradient(0deg, alpha($color, 0.65), alpha($color, 0.33) 33%, rgba(0,0,0,0))
